streamlit==1.60.0
fastapi
uvicorn[standard]
transformers
tokenizers
sentence-transformers
huggingface_hub
torch
scikit-learn
PyPDF2
nltk
gTTS
requests
numpy
pandas
pdf2image
pytesseract
sentencepiece
pyttsx3
openai-whisper
streamlit-mic-recorder
